<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ransibi.dao.UserMapper">
    <select id="selectUserInfo" resultType="java.util.Map">
        SELECT
            id "id",
            user_name "userName",
            phone "phone"
        FROM
            tb_user
    </select>
</mapper>